.header
{
    display: flex;
    justify-content: center;
}

.row1{
    display: flex;
    justify-content: space-evenly;
}

.row1 img{
    width: 125px;
    height: 125px;
    
}

.names{
    display: flex;
    justify-content: space-evenly;
}

.cost{
    display: flex;
    justify-content: space-evenly;
}

.buy{
    display: flex;
    justify-content: space-evenly;
}

.button
{
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.cart{
    position: absolute;
    right: 0%;
    
}

.products1
{
    display: flex;
    flex-direction: column;
 
}

#wG
{
    height: 20px;
    width: 20px;
    background-color: gold;

}

#wS
{
    height: 20px;
    width: 20px;
    background-color: silver;

}

#wB
{
    height: 20px;
    width: 20px;
    background-color: #CD7F32;

}